<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="linha">
    <ion-col size-sm="12" size-md="6">
      <ion-card>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Nota A</ion-label>
              <ion-input type="number" [(ngModel)]="notaA"></ion-input> <!-- ion-input, input do ionic -->
              <!-- [(ngModel)]=, o valor desse input será sincronizado com a váriavel do ts -->
               <!-- Atribuir o valor de uma variável -->
            </ion-item>
            <ion-item>
              <ion-label position="floating">Nota B</ion-label>
              <ion-input type="number" [(ngModel)]="notaB"></ion-input>
            </ion-item>
            <ion-button expand="block" (click)="calcularMedia()" (click)="mensagem()">Calcular Média</ion-button>
            <ion-item>
              <ion-label position="floating">Média</ion-label>
              <ion-input type="number" [value]="media" readonly></ion-input>
              <!-- [value]="media", exibir valor de uma variável -->
            </ion-item>
            <ion-item>
              <ion-label position="floating">Situação</ion-label>
              <ion-input [value]="situacao" readonly></ion-input>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">Gabriel Ferreira Paiva</ion-title>
  </ion-toolbar>
</ion-footer>